  /* Styles de base pour le calendrier */
.react-calendar {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
}

/* En-têtes de jours de la semaine */
.react-calendar__month-view__weekdays {
  text-align: center;
  font-weight: bold;
  color: black;
}

/* Style des jours */
.react-calendar__tile {
  max-width: 100%;
  padding: 0.5rem;
  background: #f9f9f9;
  color: black;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

/* Style des jours au survol */
.react-calendar__tile:hover {
  background-color: #e0e7ff;
  color: black;
}

/* Jours sélectionnés */
.react-calendar__tile--active {
  background-color: #646cff;
  color: #fff;
}

/* Mois et Année */
.react-calendar__navigation button {
  color: black;
  min-width: 44px;
  background: none;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem;
  transition: color 0.3s ease;
}

/* Bordure et ombre */
.react-calendar__navigation {
  margin-bottom: 1rem;
}
